<% layout('layouts/boilerplate')%>
<div class="container">
    <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
          Administrador</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Editar publicación </li>
      </ol>
    </nav>

  </div>
<div class="container">
    <div class="row mt-3">
        <h4 class="h4">Crear publicación.</h4>
        <div class="col-4"></div>
        <div class="col-12 col-lg-4 tex">
            <form action="/administrador/modo-laser/<%= producto._id %>?_method=PUT" method="post"  enctype="multipart/form-data">

              <label for="tipo">Tipo de publicación</label>
              <select name="categoria" id="categoria" class="form-select" aria-label="Categoria producto">
                <option selected>Abrir el menu para seleccionar la categoria</option>
                <option value="Cajas">Cajas</option>
                <option value="Pizarra">Pizarra</option>
                <option value="DUO">DUO</option>
                <option value="Mapas">Mapas</option>
                <option value="ABC">ABC</option>
                <option value="Memotest">Memotest</option>
                
                <option value="Dominos">Dominos</option>
                <option value="DeYapa">DeYapa</option>
                
              </select>
    
            
    
    
              <label for="titulo" class="form-label">Titulo del producto</label>
              <div class="input-group mb-3">
                <input value="<%= producto.titulo %>" placeholder="Ingresar el titulo del producto" type="text" name="titulo" class="form-control" id="titulo" required>
              </div>
    
    
              <label for="caracteristicas" class="form-label">Características de la publicación</label>
              <div class="input-group mb-3">
             
                <textarea  placeholder="Ingresar caracteristicas del producto" name="caracteristicas" id="caracteristicas" class="form-control" rows="3">
                 <%= producto.caracteristicas %>
                </textarea>
    
              </div>
              <label for="incluye" class="form-label">Características de la publicación</label>
              <div class="input-group mb-3">
             
                <textarea placeholder="Que incluye" name="incluye" id="incluye" class="form-control" rows="3">
                  <%= producto.incluye %>
                </textarea>
    
              </div>
    
              <label for="medidas" class="form-label">Medidas</label>
              <div class="input-group mb-3">
             
                <textarea placeholder="Ingresar medidas del producto" name="medidas" id="medidas" class="form-control" rows="3">
                  <%= producto.caracteristicas %>
                </textarea>
    
              </div>
             
    
    
    <!-- precio -->
              <label for="precio" class="form-label">Precio del Producto</label>
              <div class="input-group mb-3">
                <input value=" <%= producto.precio %>" placeholder="Ingresar precio del producto" type="text" name="precio" class="form-control" id="precio" required aria-describedby="passwordHelpBlock">
             
            <div class="mb-3">
              <label for="imagenes" class="form-label">Actualizar Imagenes</label>
              <input class="form-control" name="imagenes" type="file" id="imagenes" multiple>
            </div>

            
            <div class="mb-3 px-3 row justify-content-around">

              <% producto.imagenes.forEach(function(img, i){ %> 
                <div class="col-4">
                  <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="imagen-<%= i %> " name="deleteImagenes[]" value="<%= img.filename %>">
                    <label class="form-check-label" for="imagen-<%= i %> ">Eliminar</label>
                  </div>
                </div>
                
                  
                <% }) %> 
            </div>

            <p  lass="lead">Tiene que haber minimo una imagen en la publicación antes de actualizar</p>
            
            <button type="submit" class="btn btn-primary px-5 py-3">Actualizar</button>
        </form>
    </div>
        <div class="col-4"></div>
    </div>
 
</div>
