<% layout('layouts/boilerplate')%>
<div class="container">
    <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
            Inicio</a></li>
        <li class="breadcrumb-item"><a href="/administrador"> Administrador</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Editar publicación </li>
      </ol>
    </nav>

  </div>
<div class="container">
    <div class="row mt-3">
        <h4 class="h4">Crear publicación.</h4>
        <div class="col-4"></div>
        <div class="col-12 col-lg-4 tex">
            <form action="/administrador/<%= propiedad._id %>?_method=PUT" method="post"  enctype="multipart/form-data">

              <label for="tipo">Tipo de publicación</label>
              <div class="form-check">
                <input value="Venta" class="form-check-input" type="radio" name="tipo" id="tipoventa" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Venta
                </label>
              </div>
              <div class="form-check">
                <input value="Alquiler" class="form-check-input" type="radio" name="tipo" id="tipoalquiler">
                <label class="form-check-label" for="flexRadioDefault2">
                   Alquiler
                </label>
              </div>

            <label for="titulo" class="form-label">Titulo de la publicación</label>
            <div class="input-group mb-3">
              <input required type="text" name="titulo" class="form-control" id="titulo"  value="<%= propiedad.titulo %>" >
            </div>
            

            <label for="descripcion" class="form-label">Descripcion de la publicación</label>
            <div class="input-group mb-3">
              <input required type="text" name="descripcion" class="form-control" id="descripcion"  value="<%= propiedad.descripcion %>" >
            </div>
        
          
              <label for="precio" class="form-label">Precio de la publicación</label>
            <div class="input-group mb-3">
              <input required type="text" name="precio" class="form-control" id="precio"  value="<%= propiedad.precio %>">
            </div>

            <label for="direccion" class="form-label">Dirección de la publicación</label>
            <div class="input-group mb-3">
              <input required type="text" name="direccion" class="form-control" id="direccion"  value="<%= propiedad.direccion %>">
            </div>


            <div class="mb-3">
              <label for="imagenes" class="form-label">Actualizar Imagenes</label>
              <input class="form-control" name="imagenes" type="file" id="imagenes" multiple>
            </div>

            
            <div class="mb-3">

              <% propiedad.imagenes.forEach(function(img, i){ %> 

                <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="imagen-<%= i %> " name="deleteImagenes[]" value="<%= img.filename %>">
                        <label class="form-check-label" for="imagen-<%= i %> ">Eliminar</label>
                      </div>
              
                <% }) %> 
            </div>
            <p  lass="lead">Tiene que haber minimo una imagen en la publicación</p>

            <button type="submit" class="btn btn-primary px-5 py-3">Actualizar</button>
        </form>
    </div>
        <div class="col-4"></div>
    </div>
 
</div>
