<% layout('layouts/boilerplate')%>
<div class="container">
    <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
          Administrador</a></li>


          <li class="breadcrumb-item"><a href="/administrador/<%= producto._id %>"> <%= producto.titulo %> </a></li>
        <li class="breadcrumb-item active" aria-current="page"> Editar contenido de la publicación </li>
      </ol>
    </nav>

  </div>
<div class="container">
    <div class="row mt-3">
        <h4 class="h4">Editar publicación <%= producto.titulo %> </h4>
        <div class="col-4"></div>
        <div class="col-12 col-lg-4 ">
            <form action="/administrador/<%= producto._id %>?_method=PUT" method="post"  >

              <label for="tipo">Tipo de publicación 
                <p class="text-muted">Elegir el tipo nuevamente, sino quedara predeterminado Cajas</p>
              </label>
              <select name="categoria" id="categoria" class="form-select mb-3" aria-label="Categoria producto">
                <% for(let categoria of categoriasAll1) {%>
                  <option value="<%= categoria._id %>"><%= categoria.nombre %></option>
    
                <% }%> 
                
              </select>
    
            
    
    
              <label for="titulo" class="form-label">Titulo del producto</label>
              <div class="input-group mb-3">
                <input value="<%= producto.titulo %>" placeholder="Ingresar el titulo del producto" type="text" name="titulo" class="form-control" id="titulo" required>
              </div>
    
              
              <div class=" mb-3 text-start">
                <label for="caracteristicas" class="form-label">Características de la publicación</label>

                <input name="caracteristicas" id="caracteristicas" class="form-control" value="<%= producto.caracteristicas %>" >
                
              </div>
              <div class=" mb-3">
                
              <label for="incluye" class="form-label">Incluye</label>
                  <textarea class="form-control" name="incluye" id="incluye" rows="3"><%= producto.incluye %></textarea>
                
                
                
    
              </div>
    
            
              <div class="mb-3">
                <label for="medidas" class="form-label">Medidas</label>
                <textarea class="form-control"  name="medidas" id="medidas" rows="3"><%= producto.medidas %></textarea>
              </div>
    
    
    <!-- precio -->   <div class="input-group mb-3">
              <label for="precio" class="form-label">Precio del Producto</label>
           
                <input value=" <%= producto.precio %>" placeholder="Ingresar precio del producto" type="text" name="precio" class="form-control mx-4" id="precio" required aria-describedby="passwordHelpBlock">
                </div>
         

            
        

            
            <button type="submit" class="btn btn-primary px-5 py-3">Actualizar</button>
        </form>
    </div>
        <div class="col-4"></div>
    </div>
 
</div>
