    <% layout('layouts/boilerplate')%>
    <div class="container">
        <nav class="indicadorDePagina px-4 d-flex mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg"
                                alt="atras"></span>
                        Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Administrador </li>
            </ol>
        </nav>

    </div>
    <div class="propiedades container">
        <div class="row text-end">
            <div class="col-12">
                <a class="btn btn-dark" href="/cerrar-sesion">Cerrar sesion e ir a la web</a>
            </div>
        </div>
        <div class="row mt-3 d-none d-lg-block">
            <div class="col-12 col-lg-6 text-center mb-3">
                <h2>Crear nuevo producto</h2>

                <a class="btn btn-success " href="/administrador/nuevo-producto">Nuevo Producto</a>
                
            </div>
      
            <div class="col-12 col-lg-6 text-center mb-3">

                <h2> MODO LÁSER</h2>

                <a class="btn btn-secondary " href="/administrador/agregar-modolaser"> Agregar</a>                
                <a class="btn btn-secondary " href="/administrador/mostrar-modolaser"> Ver</a>                

            </div>
        </div>
        <div class="row mt-3 d-lg-none ">
            
            <div class="col-12  text-center py-2">
                <h2 class="mb-3 text-center">Crear nuevo producto</h2>

                <a class="btn btn-success " href="/administrador/nuevo-producto">Nuevo Producto</a>
                
            </div>

            
            <div class="col-12  text-center py-2">

                <h2 class="mb-3 text-center" > MODO LÁSER</h2>


                <a class="btn btn-secondary " href="/administrador/agregar-modolaser"> Agregar</a>                

            </div>
            <div class="col-12 text-center mb-3">
                <a class="btn btn-secondary " href="/administrador/mostrar-modolaser"> Ver</a>                

            </div>
        </div>


        <div class="row mt-3 text-center justify-content-center">         

                   <h2 class="mb-3 py-2">Todas las categorías</h2>

                   <% for( let producto of productos ) { %>
                         <div class="col-12 col-md-6 col-lg-4 p-lg-3">
             
                            <div class="card d-lg-none " >
                                <img src="<%= producto.imagenes[0].show %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text text-muted text-end"><%= producto.categoria %> </p>
        
                                    <h5 class="card-title p-1"><%= producto.titulo %> </h5>
        
                                  <p class="card-text"><%= producto.caracteristicas %> </p>
                                  <a href="/administrador/<%= producto._id %>" class="btn btn-primary">Ver</a>
                                </div>
                              </div>

                    <div class="card d-none d-lg-block " style="width: 18rem;">
                        <img src="<%= producto.imagenes[0].show %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-muted text-end"><%= producto.categoria %> </p>

                            <h5 class="card-title p-1"><%= producto.titulo %> </h5>

                          <p class="card-text"><%= producto.caracteristicas %> </p>
                          <a href="/administrador/<%= producto._id %>" class="btn btn-primary">Ver</a>
                        </div>
                      </div>
            
            </div>
            <% } %>

        </div>
    </div>