<% layout('layouts/boilerplate')%>

  <main>
    <div class="container">
      <nav class="indicadorDePagina px-lg-4 d-flex mt-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
            Administrador</a></li>
          
          <li class="breadcrumb-item active" aria-current="page"> <b>
              <%= producto.titulo %>
            </b> </li>
        </ol>
      </nav>

    </div>
    <section>

      <div class="container p-md-5 text-sm-start">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="productoIndividualCard">

              <div class="carutrap p-3 mb-5">
    <!-- Carousel wrapper -->
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide carousel-fade"
    data-mdb-ride="carousel">
    <!-- Slides -->
    <div class="carousel-inner mb-5">
      <% producto.imagenes.forEach( ( imagen , i )=> { %>

        <div class="carousel-item <%= i === 0? 'active':''%>">
          <img src="<%= imagen.show %>" class="d-block w-100" alt="..." />
        </div>
        <% }) %>


    </div>
    <!-- Slides -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previo</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
    <!-- Controls -->

    <!-- Thumbnails -->
    <div class="carousel-indicators imagenProducto" style="margin-bottom: -20px;">
      <% producto.imagenes.forEach( ( imagen , i )=> { %>

        <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="<%= i %> "
          class="<%= i === 0? 'active':''%>" aria-current="true" aria-label="Slide <%= i %> "
          style="width: 100px;">
          <img class="d-block w-100" src="<%= imagen.thumbnail %>" class="img-fluid" />
        </button>
        <% }) %>

    </div>
    <!-- Thumbnails -->
  </div>
  <!-- Carousel wrapper -->
              </div>
              <p style="font-weight: 600; color: #575757;" class="titulo text-start">
                <%= producto.titulo %> 

              </p>
              <% if(producto.precio ){ %> 
              <p class="precio text-start">
                <span class="d-inline">$</span>  <%= producto.precio %> 
              </p>
              <% } %> 
              <% if(producto.caracteristicas ){ %> 
              <p class="text-start" style="font-weight: 600; color: #636363;" >CARACTERÍSTICAS:</p>
              <p class="caracteristicas text-start">
                <%= producto.caracteristicas %>                  
                     </p> 
                     <% } %> 
                     <% if(producto.incluye ){ %> 
              <p class="text-start" style="font-weight: 600; color: #636363;" >INCLUYE:</p>
              <p class="incluye text-start">
                <%= producto.incluye %>                       
                </p>
                <% } %>
                <% if(producto.medidas ){ %>  
              <p class="text-start" style="font-weight: 600; color: #636363;" >MEDIDAS:</p>
              <p class="medidas text-start">
                <%= producto.medidas %>                       
                </p>
                <% } %> 
           
                <div class="text-center p-3">
                    <img src="<%= producto.imagenDePortadaProducto[0].url %>" alt="">
                </div>
              <div class="d-flex   justify-content-around py-4">
                  
           
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Eliminar el producto
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar el producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de eliminar el producto</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form class="d-inline px-2" action="/administrador/<%= producto._id%>?_method=DELETE" method="post">
          <button class="btn btn-warning">Eliminar</button>
      </form>                  
       </div>
    </div>
  </div>
</div>

              

                <a href="/administrador/<%= producto._id %>/editar" class="btn btn-outline-primary">Editar producto</a>
                <a href="/administrador/<%= producto._id %>/editar-foto" class="btn btn-outline-primary">Editar fotos</a>
                <a href="/administrador/<%= producto._id %>/editar-portada" class="btn btn-outline-primary">Editar portada de producto</a>


              </div>
            </div>
          </div>
        </div>










  </main>