<% layout('layouts/boilerplate')%>

  <main>
    <div class="container">
      <nav class="indicadorDePagina px-lg-4 d-flex mt-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/administrador"><span class="mx-1"><img src="/svg/arrowBack.svg" alt="atras"></span>
            Administrador</a></li>
          
          <li class="breadcrumb-item active" aria-current="page"> <b>
              <%= producto.titulo %>
            </b> </li>
        </ol>
      </nav>

    </div>
    <section>

      <div class="container p-md-5 text-sm-start">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="productoIndividualCard">

              <div class="carutrap p-3 mb-5">
    <!-- Carousel wrapper -->

  <!-- Carousel wrapper -->
              </div>
              <p style="font-weight: 600; color: #575757;" class="titulo text-start">
                <%= productoEncontrado.titulo %> 

              </p>
            
           

              <div class="d-flex   justify-content-around py-4">
                  
           
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Eliminar el producto
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar el producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Esta seguro de eliminar el producto</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form class="d-inline px-2" action="/administrador/<%= producto._id%>?_method=DELETE" method="post">
          <button class="btn btn-warning">Eliminar</button>
      </form>                  
       </div>
    </div>
  </div>
</div>

              

                <a href="/administrador/<%= producto._id %>/editar" class="btn btn-outline-primary">Editar producto</a>
                <a href="/administrador/<%= producto._id %>/editar-foto" class="btn btn-outline-primary">Editar foto</a>

              </div>
            </div>
          </div>
        </div>










  </main>